:root {
  --color-principal: #ffffff;
  --color-base: #131921;
  --color-secundario: #f3f3f3;
  --texto-color: #333;
}

header {
  width: 100%;
  background-image: url("https://m.media-amazon.com/images/I/61L-w+GvxUL._SX3000_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 90px;
  background-color: #b9b9b9;
}

/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilo de las categorías */
.categories {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Cambiado para adaptarse mejor */
  gap: 10px;
  padding: 20px;
  padding-top: 120px;
}

/* Estilos de las categorías individuales */
.category {
  background-color: var(--color-secundario);
  border: 1px solid var(--color-base);
  transition: transform 0.3s;
  padding: 5px;
}

.category h3 {
  text-align: center;
  color: var(--texto-color);
  padding: 10px 10px;
}

.category div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.category div > div {
  text-align: center;
  flex: 1 1 45%;
}

.category img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.category:hover {
  transform: scale(1.05);
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .categories {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Mantiene dos columnas en pantallas pequeñas */
  }

  .category div > div {
    flex: 1 1 45%; /* Cada elemento ocupará un 45% del ancho */
  }

  .category div {
    justify-content: center; /* Centrar el contenido en pantallas pequeñas */
  }
}
