:root {
  --color-principal: #ffffff;
  --color-base: #131921;
  --color-secundario: #f3f3f3;
  --texto-color: #333;
  --color-terciario: #b9b9b9;
}

main {
  padding: 20px 30px;
  width: 100%;
}

.list {
  gap: 20px;
  padding: 20px;
  background-color: var(--color-principal);
  margin-bottom: 30px;
}

.title {
  padding: 20px 10px;
}

.list-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Permite un scroll suave entre elementos */
}

.list-items img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 4px;
  scroll-snap-align: start;
}

.list-items li {
  list-style: none;
  min-width: 200px;
  flex: 0 0 220px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .list-items {
    display: flex;
    overflow-x: scroll;
  }

  .list-items img {
    width: 100%;
    max-height: 180px;
  }

  .list-items li {
    flex: 0 0 160px;
    margin-right: 10px;
  }
}
